@charset "UTF-8";
.who-user-list {
    width: 100px;
    text-align: right;
}
.follow-title {
    font-size: 10px;
    text-align: center;
}
.follow-image {
    min-width: 150px;
    max-width: 300px;
    text-align: center;
}
.follow-comtent-head {
    margin-left: 20%;
}
