@charset "UTF-8";
body { 
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: #FFF;
  color: #000;
  font-size: 1rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo,  sans-serif;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
.global-nav{
  text-align: center;
  background-color: #99FFFF;
}
nav ul{
  margin: 0 ;
  padding: 0 ;
}
nav ul li{
  list-style: none;
  display: inline-block;
  width: 18%;
  min-width: 90px;
}
nav ul li a{
  text-decoration: none;
  color: #000;
}
nav ul li a:hover{
  color: #0000FF;
}
.search{
  width: 10px;
}
.main-wrapper{
  display: table;
  background-color: #999;
  width: 100%;
  height: auto;
  text-align: center;
}
.information-wrapper{
  display: table-cell;
  width: 20%;
}
.information-name{
  font-size: 100%;
}
.number-wrapper{
  width: 100%;
  font-size: 80%;
  background-color: #666;
}
.number-body{
  margin-left: 10%;
}
.btn{
  display: inline-block;
  width: 10%;
  border-radius: 10px;
  background-color: #00BFFF;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1.2rem;
}
.tweet-wrapper{
  display: table-cell;
  background-color: #fff;
}
.tweet-post textarea{
  width: 80%;
  hyphens: auto;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  resize: none;
}
.tweet-fo-left{
  text-align: left;
}
.tweet-fo-left ul li{
  list-style: none;
}
.tweet-fo-right{
  text-align: right;
}
.search-username li{
  text-align: left;
  list-style: none;
}
.search-image {
  width: 100px;
}
#count{
  color: #000;
}


