@charset "UTF-8";
body { 
  background-size: cover;
  background-color: #99FFFF;
  color: #000;
  text-align: center;
  font-size: 1rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo,  sans-serif;
}
.form {
  width: 40%;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}
form {
    display: block;
    width: 100%;
}
.btn-login {
  display: inline-block;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  background-color: #00BFFF;
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.btn-signup {
  display: inline-block;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  letter-spacing: 1px;
  font-size: 1.2rem;
  border: 1px solid;
  border-color: #00BFFF;
  background-color: #fff;
  color: #00BFFF;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
}