@charset "UTF-8";
body { 
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: #FFF;
  color: #000;
  font-size: 1rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo,  sans-serif;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.global-nav{
  text-align: center;
  background-color: #99FFFF;
}
nav ul{
  margin: 0 ;
  padding: 0 ;
}
nav ul li{
  list-style: none;
  display: inline-block;
  width: 18%;
  min-width: 90px;
}
nav ul li a{
  text-decoration: none;
  color: #000;
}
nav ul li a:hover{
  color: #0000FF;
}
textarea {
  resize: none;
  width:200px;
  height:150px;
}
.mypage-wrapper{
  width: 100%;
}
.profile-inner{
  display: tabel;
  text-align: center;
}
.profile-box{
  display: table-cell;
  width: 1000px;
  vertical-align: middle;
}
.profile-image{
  width: 50%;
  height: auto;
  margin: 100px;
}
.profile-name-wrapper{
  margin: 10% 0;
}
.edit-button{
  text-align: right;
}
.btn-image {
  display: inline-block;
  width: 100px;
  height: auto;
  border-radius: 10px;
  background-color: #00BFFF;
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.btn {
  display: inline-block;
  width: 100px;
  height: auto;
  border-radius: 10px;
  background-color: #00BFFF;
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
