@charset "UTF-8";
body { 
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: #FFF;
  color: #000;
  font-size: 1rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo,  sans-serif;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.global-nav{
  text-align: center;
  background-color: #99FFFF;
}
nav ul{
  margin: 0 ;
  padding: 0 ;
}
nav ul li{
  list-style: none;
  display: inline-block;
  width: 18%;
  min-width: 90px;
}
nav ul li a{
  text-decoration: none;
  color: #000;
}
nav ul li a:hover{
  color: #0000FF;
}
.profile-info-inner{
  display: flex;
  text-align: center;
}
.profile-box{
  width: 40%;
  height: auto;
  margin: 5%;
}
.profile-name-wrap{
  margin: 20% 0;
}
.edit-button{
  text-align: right;
}
.button{
  display: inline-block;
  width: 10%;
  border-radius: 10px;
  background-color: #999;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1.2rem;
}
